/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import "../../node_modules/primeicons/primeicons.css";

.p-timeline .p-timeline-event-marker{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;

}

.p-timeline .p-timeline-event-marker::before {
    content: " ";
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    background-color: #3B82F6

}

.p-timeline .p-timeline-event-marker {
    border: 2px solid #e2e8f0;
    border-radius: 50%;
    width: 1.125rem;
    height: 1.125rem;
    background-color:white

}
.k-button-sm.k-icon-button > .k-button-icon {
    min-width: 0.25rem;
    min-height: 0.25rem;
}